
.text1{
    grid-area:text1;
    width:100%;
    background-color:black;
    color:white;
    display:grid;
    justify-content:center;

}
.text2{
    display:grid;
    justify-content:center;
    grid-template-areas:
    " logo options";

}

.logo{
    grid-area:logo;

}

.logo img{
    width:400px

}


.options{
    display:grid;
    grid-area:options;
    grid-template-areas:
    "p1 p2 p3";
    grid-gap:7px;
    
}

.store {
    display:grid;
    grid-template-areas: 
    "p4 p5 p6 p7 p8";
    justify-content:center;
    grid-gap:30px;

}

.row2{
    display:grid;
    grid-template-areas:
    "img2 img3 img4";
}

.row1 img{
    width:100%

}

.row2 img{
    width:100%;
    height:700px;
}

.row3 img {
    width:450px;
    height:700px;
}

.row4 img{
    width:100%;
}
.row5 img {
    width:100%;
    height:300px;

}

.sponsor img {
    width:400px;

}
.row3{
    display:grid;
    grid-template-areas:
    "img5 img6 img7";
    padding-top:20px;

}

.text4{
    display:grid;
    justify-content:center;
}

.text7 h5:nth-child(3){
    border:1px solid grey;
    display:grid;
    justify-content:center;

}

.text7 h5:nth-child(4){
    border:1px solid black;
    background-color:black;
    color:white;
    display:grid;
    justify-content:center;

}


.row5{
    display:grid;
    grid-template-areas:
    "img9 img10 img11 img12 img13";
    justify-content:space-around;
}

.footer{display:grid;
grid-template-areas:
"text5 text6 text7";
justify-content:space-between;
padding-bottom:50px

}

.sponsor{
    display:grid;
    grid-template-areas:
    "text8 img14";
    justify-content:space-between;
}

.lock{
    visibility: hidden;

}

.section{
    visibility: hidden;;

}


@media only screen and (max-width: 1000px) and (min-width: 601px)
 {
    .text1{font-size:10px}
    .row1 img{
        height:700px;
    
    }


    .options{
      display:none;
    }
    .store{
        display:none;
    }
    .row2{
        display:grid;
        grid-template-areas:
        "img2 img3";

    }
    .row5 .img9{
        display:none;

    }
    .row5 .img13{
        display:none;
    }

    .footer{
        display:grid;
        justify-content:space-around;
        grid-template-areas:
        "text5 text6"
    }
    .text7 h5:nth-child(3){
        width:200%

    }

    .text7 h5{
        font-size:20px
    }

    .lock{
        visibility:visible;

    }

    .section{
        visibility: visible
    
    }

    .text2{
        display:grid;
        grid-template-areas:
        "section logo lock";
        justify-content:space-around;
    }
    .row2 img{
         width:100%;
    
    }

    .row5 img{
        width:100%
    }

    
  }


  @media only screen and (max-width:600px) and (min-width:1px)
  {

      .text1{font-size:10px}


    .options{
        display:none;
      }
      .store{
          display:none;
      }

    .lock{
        visibility:visible;


    }
    .lock img{ height:50px
    }


    .section{
        visibility: visible;
    
    }

    .section img{
        height:50px;
    }

    .text2{
        display:grid;
        grid-template-areas:
        "section logo lock";
        justify-content:space-around;
    }
    .row1 img{
        height:700px
    
    }

    .img2{
        height:500px
    
    }

    .img3{display:none;}

    .img4{display:none;}

    .img5{display:none;}

    .img6{display:none;}

    .img7{
        display:none
    }

    .img9{
        display:none
    }

    .img13{
        display:none;
    }

    .row2 img{
        width:100%
    }


    .row5 img {
        width:100%
    }

    .footer{
        display:grid;
        grid-template-areas:
        "text6"
    }
    .sponsor{
        display:grid;
        justify-content:center;
        grid-template-areas:
        "text8";

    }

    .text7 h5:nth-child(3){
        width:170%;

    }

    .text7 h5{
        font-size:20px
    }

    .text8{
        padding-left:25%;
        padding-bottom:50px
    }
}